body {
    font-family: 'Sono', sans-serif;
    display: flex;
    justify-content: center;
  }
  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 2100px){
    .pricing-container{
        display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          
       }
       .plan-title{
        font-size: xxx-large;
        text-align: center;
       }
       .pricing-plan {
        flex: 1;
        max-width: 400px;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 50px;
        text-align: center;
        width: 300px;
      }
       .plan-features{
        list-style: none;
       }
    .plan-price{
        text-align: center;
        font-size: x-large;
    }
    .plan-button {
        padding: 10px;
        background-color: #ff6600;
        color: #fff;
        border-radius: 5px;
        border: none;
        justify-content: center;
    }
  }
  
